:root{
  --font-color: #575370;
  --font-color-reverse: #ffffff;

  
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
}

a {
  text-decoration: none; /* no underline */
  color: var(--font-color);
}

a:hover{
  border-bottom: 2px solid var(--font-color);
  transition: 0.1s;
}

a:active{
  background-color: #7c779e;
  transition: 0.3s;
  color: var(--font-color-reverse);
}

body{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--font-color);
}